/* Basic reset and global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #77b7f6;
  color: #333;
}

a {
  text-decoration: none;
  color: #0077cc;
}

h1, h2 {
  color: #333;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0077cc;
  color: #c11212;
  align-items: center;
}

button:hover {
  background-color: #005fa3;
}
